{% extends "layout.html" %}

{% block title %}
    Periodic Table
{% endblock %}

{% block main %}
    
    <table id="Element_lookup_form_table">
        <tr>
            <th>
            <form autocomplete="off" id="Element_lookup_form">
                <h2>Look up Element</h2>
                <input type="text" id="Element_lookup_input">
            </form>
            </th>
        </tr> 
        <tbody id="lookup_response"></tbody></table>
    <script src="../static/lookup.js" type="text/javascript">
{% endblock %}
